body {
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.main {
    border: 1px solid;
    width: 471px;
    height: 460px;
    position: absolute;
    top: 99px;
    left: 465px;
    background-color: #aee6d7;
    padding-top: 26px;
}

.bars {
    width: 393px;
    padding: 5px;
    margin-left: 32px;
}